[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ipdDb"]
	path = ipdDb
	url = https://github.com/dkms-lsl/ipddb
	shallow = true
	registered = true
